:root {
  /* Foundation Semantic*/
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-tertiary: var(--color-gray-100);

  --color-accent: var(--color-blue-500);

  --color-negative: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-positive: var(--color-green-500);

  /*  Content Colors */
  --content-primary: var(--color-black);
  --content-secondary: var(--color-gray-500);
  --content-tertiary: var(--color-gray-300);

  --content-inverse-primary: var(--color-white);
  --content-inverse-secondary: var(--color-gray-300);

  /* Border Colors*/
  --border-opaque: var(--color-gray-400);
  --border-transparent: rgba(189, 189, 189, 0.3); /* gray.400 / 30% */

  /*Status Transparent*/
  --positive-transparent: rgba(10, 138, 67, 0.1);
  --negative-transparent: rgba(225, 25, 0, 0.1);

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
}

.qna {
  padding: var(--spacing-40) var(--spacing-24);
  line-height: 150%;
  font-family: Pretendard;
  display: flex;
  flex-flow: nowrap column;
  p {
    font-size: 16px;
  }

  @media (width >= 786px) {
    padding: var(--spacing-56) var(--spacing-32);
  }

  @media (width >= 1152px) {
    padding: var(--spacing-64) var(--spacing-64);
  }

  .qna-question {
    font-size: 21.328px;
    margin-block: 0px var(--spacing-36);

    @media (width >= 786px) {
      font-size: 28.4304px;
    }
  }

  .qna-question-1 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-20);
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      inline-size: 100%;

      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        padding: 0px 6px 0px 0px;
        justify-content: space-between;
        list-style: none;
        cursor: pointer;

        .qna-1 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          position: relative;
          inline-size: 16px;
          block-size: 16px;
          cursor: pointer;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: absolute;
          top: 70%;
          left: 50%;
          transform-origin: center;
        }

        .qna-btn-1 {
          transform: translate(-50%, -50%);
        }

        .qna-btn-2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      .qna-pay-2 {
        padding: var(--spacing-24);

        .qna-3 {
          margin-block-end: var(--spacing-24);
        }

        .qna-card {
          line-height: 160%;
          margin-block-end: var(--spacing-24);
        }

        .qna-4 {
          margin-block: var(--spacing-24);
        }

        .qna-5 {
          padding: var(--spacing-4);
          border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
          font-weight: 600;
        }
      }
    }
  }

  .qna-question-2 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-20);
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        padding: 0px 6px 0px 0px;
        justify-content: space-between;
        cursor: pointer;
        list-style: none;

        .qna-2 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          position: relative;
          inline-size: 16px;
          block-size: 16px;
          cursor: pointer;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: absolute;
          top: 70%;
          left: 50%;
          transform-origin: center;
        }

        .qna-btn-1 {
          transform: translate(-50%, -50%);
        }

        .qna-btn-2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block-end: var(--spacing-24);
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
        font-weight: 600;
      }
    }
  }

  .qna-question-3 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-20);
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        padding: 0px 6px 0px 0px;
        justify-content: space-between;
        cursor: pointer;
        list-style: none;

        .qna-6 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          position: relative;
          inline-size: 16px;
          block-size: 16px;
          cursor: pointer;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: absolute;
          top: 70%;
          left: 50%;
          transform-origin: center;
        }

        .qna-btn-1 {
          transform: translate(-50%, -50%);
        }

        .qna-btn-2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: 24px;

      .qna-3 {
        margin-block-end: var(--spacing-24);
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
        font-weight: 600;
      }
    }
  }

  .qna-question-4 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-20);
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        padding: 0px 6px 0px 0px;
        justify-content: space-between;
        cursor: pointer;
        list-style: none;

        .qna-7 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          position: relative;
          inline-size: 16px;
          block-size: 16px;
          cursor: pointer;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: absolute;
          top: 70%;
          left: 50%;
          transform-origin: center;
        }

        .qna-btn-1 {
          transform: translate(-50%, -50%);
        }

        .qna-btn-2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block-end: var(--spacing-24);
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
        font-weight: 600;
      }
    }
  }

  .qna-question-5 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-20);
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        padding: 0px 6px 0px 0px;
        justify-content: space-between;
        cursor: pointer;
        list-style: none;

        .qna-8 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          position: relative;
          inline-size: 16px;
          block-size: 16px;
          cursor: pointer;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: absolute;
          top: 70%;
          left: 50%;
          transform-origin: center;
        }

        .qna-btn-1 {
          transform: translate(-50%, -50%);
        }

        .qna-btn-2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block-end: var(--spacing-24);
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
        font-weight: 600;
      }
    }
  }
}
