:root {
  /* Foundation Semantic*/
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-tertiary: var(--color-gray-100);

  --color-accent: var(--color-blue-500);

  --color-negative: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-positive: var(--color-green-500);

  /*  Content Colors */
  --content-primary: var(--color-black);
  --content-secondary: var(--color-gray-500);
  --content-tertiary: var(--color-gray-300);

  --content-inverse-primary: var(--color-white);
  --content-inverse-secondary: var(--color-gray-300);

  /* Border Colors*/
  --border-opaque: var(--color-gray-400);
  --border-transparent: rgba(189, 189, 189, 0.3); /* gray.400 / 30% */

  /*Status Transparent*/
  --positive-transparent: rgba(10, 138, 67, 0.1);
  --negative-transparent: rgba(225, 25, 0, 0.1);

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
}

section {
  /* block-size: 675px;
  inline-size: 786px; */
  padding-block: var(--spacing-40);
  padding-inline: var(--spacing-24);
}

h2 {
  color: var(--color-black);
  font-size: 37.897px;
  font-weight: 700;
  margin-block-start: 0px;
  line-height: 140%;
}

div.signup-subtitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-block-end: calc(var(--spacing-36) - 21.326px);

  p {
    color: var(--color-black);
    font-size: 21.328px;
    font-weight: 600;
    line-height: 150%;
  }

  button {
    background: transparent;
    block-size: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    border: none;
    padding: 4px;
    /* var하면 색상이 안들어가서 일단 gray로 넣음 */
    border-bottom: 1px solid gray;

    a {
      color: var(--color-black);
      text-decoration: none;
    }
  }
}

ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;

  .signup-name {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-16);
  }

  input {
    background: #f5f5f5;
    border: 1px solid rgba(137, 137, 137, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    inline-size: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-inline: 12px;
  }

  span {
    /* var가 안먹음 */
    color: red;
    font-size: 12.003px;
  }
}

p {
  margin-block: 36px;
  font-size: 12.003px;
  font-weight: 400px;
  line-height: 160%;
}

.signup-submit {
  background: yellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  inline-size: 100%;
}

.login-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.login-group p {
  margin: 0;
}

.signup-submit button {
  display: flex;
  align-items: center;
  justify-content: center;
}
